@tailwind base;
@tailwind components;
@tailwind utilities;

/* @font-face {
    font-family: 'Wedding Text';
    src: url('../fonts/Wedding Text Std Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

.HeaderHeading {
    font-family: 'Wedding Text' !important;
    font-size: 32px !important;
} */

.navbar-logo {
    width: 50px;
    height: auto;
    border-radius: 50%;
}

@layer components {
    .navbtn {
        @apply px-4 py-2 font-medium transition-all duration-500 ease-in-out rounded-3xl;
        color: black !important; /* Ensure black text color */
    }

    .navbtn:hover {
        @apply border-sky-100 bg-gradient-to-r from-cyan-500 to-blue-500 text-white rounded-3xl;
    }

    .navbtn.active {
        @apply bg-gradient-to-r from-blue-500 to-cyan-500 text-white rounded-3xl;
    }

    .navbtn.active:hover {
        @apply bg-gradient-to-r from-blue-500 to-cyan-500 text-white ;
    }

    /* Offcanvas styling */
    @media (max-width: 1024px) {
        .offcanvas-menu {
            @apply fixed top-0 right-0 w-3/4 h-full bg-cyan-50 shadow-lg z-50 transition-transform duration-300 ease-in-out;
        }

        .offcanvas-menu.closed {
            @apply transform translate-x-full;
        }

        .offcanvas-menu.open {
            @apply transform translate-x-0;
        }
    }

    @media (max-width: 425px) {
        .navbtn {
            @apply font-serif w-full text-left; /* Full width and left aligned */
        }

        .navbtn:hover {
            transform: scale(1.1);
        }

        .navbtn.active:hover {
            transform: scale(1.05);
        }
    }
}
